body {
  margin: 0 auto 0 auto;
  max-width: 1200px;
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F5;
}

.info-row {
  position: relative;
  background: linear-gradient(to left,#bdffe0 50%, white 50%);
  max-width: 100%;
  padding: 10px;
}

.info-row > img {
  width: 50%;
  height: auto;
  margin-right: 35%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.info-row > h1 {
  position: absolute;
  font-family: 'Kaushan Script', cursive;
  font-size: 6.5vw;
  top: 13%;
  left: 58%;
  margin-right: 15%;
}

.info-row > h2 {
  margin-left: 15%;
  line-height: 1em;
}

.info-row > p {
  margin-left: 15%;
  line-height: 1em;
}
