/* general styles */

body {
  margin: 0 auto 0 auto;
  max-width: 1200px;
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
}

h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 50px;
}

p {
  line-height: 30px;
}

/* Welcome row styles */

.welcome-row {
  position: relative;
  background: linear-gradient(to left, #bdffe0 50%, white 50%);
  max-width: 100%;
  padding: 10px;
  margin-top: 30px;
}

.welcome-row > img {
  width: 60%;
  height: auto;
  margin-right: 30%;
  margin-top: 80px;
  margin-bottom: 30px;
}

.welcome-row > h1 {
  position: absolute;
  font-size: 120px;
  bottom: 15%;
  left: 60%;
  margin-right: 15%;
}

@media screen and (max-width: 700px) {
  .welcome-row > h1 {
    font-size: 50px;
    bottom: 30%;
  }
}

@media screen and (min-width: 701px) and (max-width: 950px) {
  .welcome-row > h1 {
    font-size: 90px;
    bottom: 20%;
  }
}

.welcome-row > h2 {
  margin-left: 10%;
  line-height: 1em;
}

.welcome-row > p {
  margin-left: 10%;
  line-height: 1em;
}

/* About me row styles */

.about-row {
  background-color: white;
  text-align: center;
  margin-top: 0px;
  padding-top: 150px;
}

.about-row > h1 {
  margin-top: 0px;
}

.about-row > p {
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 0px;
}

.works-row {
  background-color: white;
  text-align: center;
  margin-top: 0px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.works-row > h1 {
  margin-top: 0px;
}

.works-row > p {
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 0px;
}

/* icons */
.circle {
  background: #bdffe0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 25px;
  text-align: center;
  margin-top: 25px;
}

.circle > img {
  margin-top: 25px;
}
